/* Comms panel. */
.comms-container {
	width: 665px;
	height: 57px;
	line-height: 60px;
}

#comms-container1 {
	left: 92px;
	top: 815px;
}

#comms-container2 {
	left: 92px;
	top: 885px;
}

#comms-container3 {
	left: 92px;
	top: 955px;
}

/* Comms name dynamic text. */
.comms-name {
	max-width: 415px;
}